*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #5a045a, #111111);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif; 
}